.lane-container {
    width: 50vh;
    border: 1px solid gray;
    border-radius: 10px;
    background: lightgray;
    min-height: 30vh;
    margin-bottom: 10px;

}

.lane-container>h3 {
    text-align: center;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
}